html, body{
  margin: 0;
  width: 100%;
  height: 100%;
}

/*#Bg {
  width: 100%;
  height: 100%;
  z-index: -1000;
  position: absolute;
}*/

#Main {
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url(/images/bg.png)
}

#subbtn {
  margin: 0px auto;
}

#number {
  margin: 0px auto;
}

.button {
    outline: none;
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 5px;
}

.hide {
  display: none;
}
