html, body{
  margin: 0;
  width: 100%;
  height: 100%;
}
#Bg {
  width: 100%;
  height: 100%;
  z-index: -1000;
  position: absolute;
}
#Main {
  height: 20%;
}

#Map {
  margin: 0;
  height: 50%;
}

#Info {
  margin-left: 25%;
  width: 50%;
  text-align: center;
}

#subbtn {
  margin-left: auto;
	margin-right: auto;
  text-align: center;
  display: inline-block;
}

#Get {
  text-align: center;
}

.button {
    outline: none;
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 5px;
}
.hide {
  display: none;
}
