doctype html
meta(charset = "utf-8")
html
  head
    meta(name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1")
    title= title
    link(rel = "stylesheet", href = "/stylesheets/findYourLover.css")
  body
    img#Bg(src = "/images/bg.png")
    #Main
      form#GetJsonform(action = "/findYourLover/server" autocomplete="off" method = "post")
        input#textInput(type = "text" name = "userId")
        input.button#subbtn(type = "image" value = "Submit" src = "/images/submitBtn.png")
    #result
      #Map
    #hide
      input#out(type = "hidden" value= returnData)
  script(type = "text/javascript" src = "/javascripts/echarts.min.js")
  script(type = "text/javascript" src = "/javascripts/jquery-2.2.0.min.js")
  script(type = 'text/javascript' src = "/javascripts/echartsSetting.js")
  script(type = 'text/javascript' src = "/javascripts/jquery.form.js")
  script(type = 'text/javascript' src = "/javascripts/main.js")
