doctype html
html
  head
    meta(name="viewport" content = "width=device-width, initial-scale=1, maximum-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/findYourLover.css')
  body
    canvas#Map
  script(type='text/javascript' src = "/javascripts/echarts.min.js")
  script(type='text/javascript' src = "/javascripts/jquery-1.12.0.min.js")
